from flask_inputfilter import InputFilter
from flask_inputfilter.declarative import field

{% if import_filters %}
from flask_inputfilter.filters import {{ import_filters|join(", ") }}
{% endif %}
{% if import_validators %}
from flask_inputfilter.validators import {{ import_validators|join(", ") }}
{% endif %}
{% if import_enums %}
from flask_inputfilter.enums import {{ import_enums|join(", ") }}
{% endif %}


class {{ class_name }}(InputFilter):
{% if schema_description %}
    """{{ schema_description }}"""
{% endif %}
{% for f in fields %}
{% if f.description %}
    # {{ f.description }}
{% endif %}
    {{ f.attr }} = field(
        {%- if f.required -%}required=True, {%- endif -%}
        {%- if f.default is not none -%}default={{ f.default|python_json }}, {%- endif -%}
        {%- if f.filters -%}filters=[{{ f.filters|join(", ") }}], {%- endif -%}
        {%- if f.validators -%}validators=[{{ f.validators|join(", ") }}]{%- endif -%}
    )
{% if not loop.last %}

{% endif %}
{% endfor %}
